*{margin: 0; padding: 0;}
body{
  font-size: 62.5%;  // 10px 기준, 20px 기준=> 20/16 *100 = 125
}

.app{
  background-image: url(./images/img-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time{
  font-weight: bolder;
  font-size: clamp(1rem , 7vw, 10rem);
}